<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" >
    <listeners>
        <listener class-name="Basharmal.TestComponents.Listeners"></listener>
    </listeners>
    <test name="firstTest" thread-count="5">
        <classes>
            <class name="Basharmal.StandAloneTest"/>
        </classes>
    </test>

    <test name="Error Validation Test" thread-count="5">
        <classes>
            <class name="Basharmal.ErrorValidationTest"/>
        </classes>
    </test>
<!--    <test name="Product Error Validation Test">-->
<!--        <classes>-->
<!--            <class name="Basharmal.ProductErrorValidationTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
